.title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.item {
  max-width: 200px;
}

img {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}