.quote-container {	
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 100px 300px;
}

p {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin: 0px 0px 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: #1F2937;
  font-weight: bold;
  text-align: right;
  align-self: flex-end;
  font-size: 24px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
}